extend /views/partials/layout

prepend head
  -
    page.title = 'Stardew Valley Data Admin'
    assets.css.push('apps/stardew-admin')
    assets.js.push('apps/stardew-admin')

block content
  h1 Stardew Valley API Admin

  .villager-admin
    h2 Villagers
    .villagers-wrapper
      .villager-list
        button.e-btn.e-btn--cta.create-villager Add Villager
        each villager in villagers
          .villager(data-villager=villager)
            span= villager.name
            button.e-btn.edit-btn Edit
            button.e-btn.del-btn Delete
      form.edit-villager.invis
        input(type="text" name="name" placeholder="Name")
        input(type="text" name="birthday" placeholder="Birthday")
        input(type="text" name="region" placeholder="Region")
        input(type="text" name="address" placeholder="Address")
        .controls
          input.e-btn.e-btn--cta.create-villager(type="submit" value="Create Villager")
          input.e-btn.e-btn--cta.update-villager.hide(type="submit" value="Save Changes")
          button.e-btn.cancel-edit(type="button") Cancel