-
  const page = {};
  const assets = {
    css: [],
    html: [],
    js: []
  };

doctype html
html
  head
    block head
      include ./head.pug

  body
    .wrapper
      include ./header.pug
      main(role="main")
        .content
          block content
      include ./footer.pug
    //- To be used for scripts not essential to TTI, for performance sake
    block scripts
      if assets.js.length
        each script in assets.js
          script(src=`/js/${script}.js`)