extend /views/partials/layout

prepend head
  -
    page.title = 'Style Guide';

block content
  section#colors.e-card

  section#typography.e-card

  section#buttons.e-card

  section#alerts.e-card

  section#cards.e-card

  section#form-elements.e-card