section
  $border-width = 2px
  $spacing-width = (50px - $border-width) / 2

  margin-bottom $spacing-width

  &:not(:last-child)
    border-bottom $border-width solid #000 + 50%
    padding-bottom $spacing-width
  
  @media screen and (min-width 980px)
      align-items center
      display flex
      justify-content space-between

      .section-content
        margin-left 30px
        max-width 50vw

        section.contact &
          margin-left 55px

      .section-name
        max-width 200px
        text-align center

.fact
  align-items center
  display flex
  margin 10px auto

  span
    flex 1
    margin-left 30px

  svg
    height 40px
    width 40px

.section-content
  // margin-left 30px
  // max-width 50vw
  text-align justify

// .section-name
//   max-width 200px
//   text-align center

.stack-items
  padding-left 20px