extends /views/partials/layout.pug

prepend head
  - 
    page.title = 'About';
    assets.css.push('about');

block content
  -
    const facts = [
      { icon: 'nametag' , text: 'Ethan Stewart'                                    },
      { icon: 'home'    , text: 'Eastern Idaho'                                    },
      { icon: 'school'  , text: 'BS in Computer Information Technology, BYU-Idaho' },
      { icon: 'location', text: 'Pleasant Grove, UT'                               },
      { icon: 'work'    , text: 'Front-end web developer, FamilySearch'            }
    ];
    const stackItems = [
      '<strong>NodeJS</strong> with <strong>Express</strong> on the backend',
      '<strong>Pug</strong> for templating',
      '<strong>Stylus</strong> for CSS preprocessing',
      '<strong>Babel</strong> for increased cross-browser compatibility'
    ];
  .center-content
    section.about-me
      h2.section-name About Me
      .section-content
        each fact in facts
          .fact
            != util.icon(fact.icon)
            span #{fact.text}

    section.about-site
      h2.section-name About This Site
      .section-content
        p.
          <strong>This site is a sandbox in which I can experiment
          and improve my skills as a web developer.</strong> While I try to
          put my best efforts into all of my coding, the fact that
          this is mostly for practice projects and exploration of
          things I don't yet understand, <strong>the use of any web apps,
          features, or anything else on this site should generally
          be taken with a grain of salt</strong> unless I indicate that it
          is production-quality (meaning I've tested it and feel
          comfortable calling it a finished product).
    
    section.about-stack
      h2.section-name About My Stack
      .section-content
        p.
          This site runs on a pretty straightforward <strong>Node-based setup.</strong>
          In no particular order, here are the main libraries/frameworks
          being used;
        ul.stack-items
          each item in stackItems
            li!= item
        p The source code for this site can be found <a href="https://github.com/StewartEthan/estewart.net" target="_blank" rel="noopener">on GitHub.</a>

    section.contact
      h2.section-name Contact Me
      .section-content
        p.
          If you have any questions, comments, suggestions, complaints, ideas,
          epiphanies, visions, discoveries of magical powers, or other things
          you'd like to share with me for some reason, <strong>please use any of the
          icons in the footer to reach out.</strong> I do have a wife, a full-time job,
          and a few hobbies, so I may not always answer immediately, but unless
          I'm camping in the middle of nowhere, I'll likely respond to anything
          within a day or two. <strong>Twitter is probably the best way to reach me</strong>.
          LinkedIn is probably not going to get a response from me unless I'm actively
          seeking a job. Thanks for visiting my site!