size(w, h = w)
  height h
  width w

h1
  padding 15px

  &:not(.landing)
    padding-left 0

input
  border 1px solid #ccc
  border-radius 6px
  font-size 1em
  padding 7px

  // &[type="submit"]
  //   background $logo-color
  //   color white
  //   padding 10px

ul, ol
  &.no-pad
    -webkit-padding-start 0
    -moz-padding-start 0
    -ms-padding-start 0
    -o-padding-start 0

    list-style none

.arrow-list
  list-style none
  margin-left -15px

  li::before
    content "\27A5\00a0"

.center-content
  margin 0 auto
  max-width 75vw

  & > h1
    text-align center
  & > p
    text-align justify
  
  +break($normal)
    max-width 40vw

.e-btn
  background $gray-accent + 70%
  border 1px solid $gray-accent + 25%
  border-radius 6px
  cursor pointer
  font-size calc(1em - 0.25px)
  letter-spacing 0.25px
  padding 7px 10px
  text-align center
  transition filter 100ms linear

  &--cta
    background $logo-color
    border none
    color white
    font-size 1em
    text-shadow 1px 1px 1px #333
  
  &:hover
    filter brightness(90%)

.error
  color red

.fake-link
  border none
  background inherit
  color $primary-blue
  cursor pointer
  font-family $heading-font
  font-size 13pt
  text-decoration underline

.flex
  display flex

  &.sp-between
    justify-content space-between
  
  &.sp-around
    justify-content space-around

.force-block
  display block

.hide
  display none !important

.invis
  visibility hidden !important

  & > *
    visibility hidden !important

.spinner
  border 16px solid #f3f3f3
  border-top 16px solid $primary-blue
  border-right 16px solid $primary-blue
  border-radius 50%
  margin 10px auto
  width 120px
  height 120px
  animation spin 1.5s linear infinite

@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
