// Colors
$primary-blue = #002265
$logo-color = #0084FF
$gray-accent = #D0D0D0 - 25%
$text-color = #333;

$btn-bkgd-color = $gray-accent + 70%
$btn-bdr-color = $gray-accent + 25%
$cta-btn-color = #228B22 - 5%

$alert-bkgd-color = $logo-color + 80%
$alert-bdr-color = $alert-bkgd-color - 60%
$warn-alert-bkgd-color = yellow + 80%
$warn-alert-bdr-color = $warn-alert-bkgd-color - 60%


// Layout
$doc-min-height = 650px
$tiny = 600px
$small = 768px
$normal = 980px
$large = 1200px

// Typography
$primary-font = Verdana, sans-serif
$heading-font = "Trebuchet MS", sans-serif