form
  align-items baseline
  display flex
  flex-direction column

  input
    margin-bottom 5px

.forms
  display flex

  .add-villager
    margin-right 10px
  
  .villager
    display flex
    justify-content space-between
    margin-bottom 5px

    span
      margin-right 5px